<h1>List of restaurants</h1>
<h2><%= @restaurant.name %></h2>
<p>address :<%= @restaurant.address %><br>
phone : <%= @restaurant.phone_number %><br>
category : <%= @restaurant.category %><br>
<%= @restaurant.errors %>
</p>
